@inherits BasicGameView<ClueBoardGameMainViewModel>

<GridContainer RowGap="5px" Rows="auto auto" Columns="auto auto auto">
    <GridItem>
        <GameBoardBlazor GraphicsData="_graphicsData"
                         TargetHeight="87vh" />
    </GridItem>
    <GridItem Row="2">
        <HorizontalDiv Margins="5px">
            <BasePieceGraphics LongestSize="50" TargetHeight="9vh">
                <PawnPiece MainColor="@GetColor" />
            </BasePieceGraphics>
        </HorizontalDiv>
        <HorizontalDiv Margins="5px">
            <LabelGridComponent DataContext="DataContext" Labels="_labels" />
        </HorizontalDiv>
    </GridItem>
    <GridItem Column="2">
        <ClueHandBlazor Hand="DataContext!.GetHand" />
        <div>
            <CascadingValue Value="EnumDetectiveCategory.Prediction">
                <DetectiveGraphicsBlazor DetectiveList="_graphicsData!.GameContainer!.DetectiveList" />
            </CascadingValue>
        </div>
        <div style="margin-top: 20px">
            <CascadingValue Value="EnumDetectiveCategory.Notebook">
                <DetectiveGraphicsBlazor DetectiveList="_graphicsData!.GameContainer!.DetectiveList" />
            </CascadingValue>
        </div>
    </GridItem>
    <GridItem Column="3">
        <CluePileBlazor SinglePile="DataContext!.GetPile" />
        <div>
            Instructions: @DataContext.Instructions
        </div>
        <div style="font-size: 20vh; color: white">
            @DataContext.LeftToMove
            <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
        </div>
        <GameButtonComponent DataContext="@DataContext" MethodName="@RollMethod" StartOnNewLine="true" Display="Roll Dice" />
        <GameButtonComponent DataContext="@DataContext" MethodName="@PredictMethod" StartOnNewLine="true" Display="Predict" />
        <GameButtonComponent DataContext="@DataContext" MethodName="@AccusationMethod" StartOnNewLine="true" Display="Accusation" />
        <GameButtonComponent DataContext="@DataContext" StartOnNewLine="true" MethodName="@EndMethod" Display="End Turn" />
        <LabelGridComponent DataContext="DataContext" Labels="_clues" />
    </GridItem>
</GridContainer>
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}