<BaseFrameBlazor
                 IsEnabled="@DataContext!.IsEnabled"
                 Text="@VMData!.DisplayScoreText"
                 >


    <GridList Context="text" Columns="2" RenderList="VMData.TextList">
        <GameButtonComponent DataContext="DataContext"
                             BackgroundColor="@GetButtonColor(text)"
                             Display="@text"
                             CommandParameter="@text"
                             MethodName="@ChangeMethod" />
    </GridList>
    <div>
        <GameButtonComponent MethodName="@ScoreMethod"
                             Display="Your Score"
                             DataContext="DataContext" />
        <GameButtonComponent MethodName="@DescriptionMethod"
                             Display="Description"
                             DataContext="DataContext" />
    </div>
   
</BaseFrameBlazor>