@inherits BasicGameView<FreeCellSolitaireMainViewModel>
@if (DataContext!.DeckPile != null)
{
    <HorizontalDiv LeftOnly="0px">
        <DeckOfCardsMultiplePilesBlazor R="SolitaireCard" Piles="DataContext.FreePiles1" />
    </HorizontalDiv>
    <HorizontalDiv LeftOnly="20px">
        <DeckOfCardsMultiplePilesBlazor R="SolitaireCard" Piles="@GetMainPiles()" />
    </HorizontalDiv>
    <div>
        <HorizontalDiv LeftOnly="5px">
            <SolitairePilesBlazor MainPiles="@GetWastePiles()" />
        </HorizontalDiv>
        <HorizontalDiv LeftOnly="5px">
            <LabelGridComponent DataContext="@DataContext" Labels="@_labels" />
            <div>
                <GameButtonComponent DataContext="@DataContext" MethodName="@AutoMoveName" Display="Auto Make Move" />
            </div>
        </HorizontalDiv>
    </div>
}