@inherits BasicGameView<BasicMultiplayerDiceGamesMainViewModel>
<p>Welcome to BasicMultiplayerDiceGames</p>
<div style="height: 22vh">
    <GameButtonComponent DataContext="@DataContext" MethodName="@RollMethod" Display="Roll Dice" />
    <GameButtonComponent DataContext="@DataContext" MethodName="@EndMethod" Display="End Turn" />
    <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="20vh" />
</div>
<LabelGridComponent DataContext="DataContext" Labels="_labels" />
<div>
    <ScoreBoardBlazor P="BasicMultiplayerDiceGamesPlayerItem" Columns="@_scores" Players="@DataContext!.PlayerList" />
</div>
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}