@inherits BasicGameView<BackgammonMainViewModel>
@using BasicBlazorLibrary.Components.CssGrids
<GridContainer Columns="@GetColumns">
    <GridItem>
        <CascadingValue Value="_graphicsData">
            <BackgammonCompleteBoard TargetHeight="90vh" />
        </CascadingValue>
    </GridItem>
    <GridItem Column="2">
        <div style="height: 15vh">
            <GameButtonComponent DataContext="@DataContext" MethodName="@EndMethod" Display="End Turn" />
            <GameButtonComponent DataContext="@DataContext" MethodName="@UndoMethod" Display="Undo All Moves" />
            <DiceListConrolBlazor D="SimpleDice" Cup="@DataContext!.GetCup" TargetHeight="13vh" />
        </div>
        <LabelGridComponent DataContext="DataContext" Labels="_labels" />
    </GridItem>
</GridContainer>

@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}