@inherits BasicGameView<ThreeLetterFunMainViewModel>
@if (DataContext == null)
{
    return;
}
@if (DataContext.MainGame.BasicData.MultiPlayer)
{
    if (DataContext.GameData.PlayerWon != "" && _tempCard != null)
    {
        <div style="font-size: 6vh;">
            @DataContext.GameData.PlayerWon Spelled
        </div>
        <div style="color: red; font-size: 12vh;">
            @_tempCard.GetWord().ToUpper()
        </div>
    }
}
<div>
    <TileBoardBlazor @ref="Board" TargetHeight="10" />
</div>
<div>
    <TileHandBlazor TargetHeight="10vh" Board="DataContext.GameData.TileBoard1" />
</div>
<div>
    <GameButtonComponent DataContext="DataContext" MethodName="@PlayMethod" Display="Play" />
    <GameButtonComponent DataContext="DataContext" MethodName="@GiveUpMethod" Display="Give Up" />
    <GameButtonComponent DataContext="DataContext" MethodName="@TakeBackMethod" Display="Take Back" />
</div>
@if (DataContext.MainGame.BasicData.MultiPlayer)
{
    <ScoreBoardBlazor P="ThreeLetterFunPlayerItem" Players="DataContext.MainGame.PlayerList" Columns="_scores" />
}
@if (TestData!.SaveOption == EnumTestSaveCategory.RestoreOnly)
{
    <ParentControl VM="RestoreViewModel">
        <RestoreView />
    </ParentControl>
}