@inherits BasicGameView<VegasSolitaireMainViewModel>
@if (DataContext!.DeckPile != null)
{
    <DeckOfCardsDrawPileBlazor R="SolitaireCard" DeckPile="DataContext.DeckPile" />
    <DeckOfCardsSingleMiscPileBlazor R="SolitaireCard" SinglePile="DataContext.MainDiscardPile" />
    <HorizontalDiv LeftOnly="20px">
        <DeckOfCardsMultiplePilesBlazor R="SolitaireCard" Piles="@GetMainPiles()" />
    </HorizontalDiv>
    <HorizontalDiv LeftOnly="10px">
        <LabelGridComponent DataContext="@DataContext" DecimalPlaces="0" Labels="@_labels" />
        <div>
            <GameButtonComponent DataContext="@DataContext" MethodName="@AutoMoveName" Display="Auto Make Move" />
        </div>
    </HorizontalDiv>
    <div>
        <SolitairePilesBlazor MainPiles="@GetWastePiles()" />
    </div>
}